<div class="container mt-5">
  <h1 class="text-center">Edit Flat</h1>

  <%= render 'form' %>

  <div class="text-center mt-3">
    <%= link_to "Back to Flat", @flat, class: "btn btn-secondary" %>
  </div>
</div>
